<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>vpn.steyep</string>
	<key>connections</key>
	<dict>
		<key>117A39E2-DF0E-4962-B44C-337FFC6B4CC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C575C39-1230-4288-96E8-7DC089FAAA00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>23699CD9-3A60-4A7F-989F-39133AE74C4B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>117A39E2-DF0E-4962-B44C-337FFC6B4CC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Pennell</string>
	<key>description</key>
	<string>Connect to VPN</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VPN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>122</integer>
				<key>script</key>
				<string>sh ./_scripts/wf_action.sh {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>117A39E2-DF0E-4962-B44C-337FFC6B4CC9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>VPN</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7C575C39-1230-4288-96E8-7DC089FAAA00</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string>sh ./_scripts/wf_menu.sh "{query}"</string>
				<key>title</key>
				<string>VPN</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>23699CD9-3A60-4A7F-989F-39133AE74C4B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>117A39E2-DF0E-4962-B44C-337FFC6B4CC9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>23699CD9-3A60-4A7F-989F-39133AE74C4B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7C575C39-1230-4288-96E8-7DC089FAAA00</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
